<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8168b5">  <td>21/08/13 18:39:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavegadorTest.facebook()[pri:0, instance:demo.NavegadorTest@51e2adc7]">facebook</td> 
  <td>main@2014866032</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>21/08/13 18:39:33</td>   <td>-7522</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NavegadorTest.setUp()[pri:0, instance:demo.NavegadorTest@51e2adc7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2014866032</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>21/08/13 18:39:41</td>   <td>74</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NavegadorTest.tearDown()[pri:0, instance:demo.NavegadorTest@51e2adc7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2014866032</td>   <td></td> </tr>
</table>
